<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sqlConnection>
    <!--<host>LAPTOP-R09B48M1\SQLEXPRESS</host>
    <dataBase>INTRANET_COTHERPACK</dataBase>
    <login>sa</login>
    <password>Ap32001a@</password>-->
    <host>LAPTOP-R09B48M1\SQLEXPRESS</host>
    <dataBase>INTRANET_DISKMED</dataBase>
    <login>sa</login>
    <password>Ap32001a@</password>
  </sqlConnection>
  <smtpConnection>
    <host>email-ssl.com.br</host>
    <port>587</port>
    <ssl>S</ssl>
    <login>guardian@diskmedpadua.com.br</login>
    <password>diskmed123***</password>
    <email>guardian@diskmedpadua.com.br</email>
  </smtpConnection>
</configuration>